<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>		
		<add key="DATABASEIP" value="0.0.0.0" />
		<add key="DATABASEPORT" value="59157" />
		<add key="DATABASEUSER" value="sa" />
		<add key="DATABASEPASSWORD" value="123456" />		
		<add key="DEVICE_COM" value="COM4" />		
	</appSettings>
</configuration>