<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>		
		<add key="DATABASEIP" value="0.0.0.0" />
		<add key="DATABASEPORT" value="59157" />
		<add key="DATABASEUSER" value="sa" />
		<add key="DATABASEPASSWORD" value="123456" />

		<!--
		<add key="EDZS_DATA" value="20" />
		<add key="LSZS_DATA" value="10" />
		<add key="TYPE_DATA" value="0" />
		<add key="TUHAO_DATA" value="0" />
		<add key="CAPACITY_DATA" value="0" />
		<add key="STANDARD_DATA" value="0" />
		<add key="STANDARDCURRENT_DATA" value="0" />
		-->

		<add key="DEVICE_GLFXY" value="COM7" />
		<add key="DEVICE_BPDY" value="COM3" />
		

	</appSettings>
</configuration>