<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>		
		<add key="DATABASEIP" value="192.168.1.11" />
		<add key="DATABASEPORT" value="59157" />
		<add key="DATABASEUSER" value="sa" />
		<add key="DATABASEPASSWORD" value="1" />
		
		<add key="DEVICE_1" value="192.168.2.1" />
		<add key="DEVICE_2" value="COM2" />
		<add key="DEVICE_3" value="COM3" />
		<add key="DEVICE_4" value="COM3" />
		<add key="DEVICE_5" value="COM6" />
		<add key="DEVICE_6" value="COM5" />
		<add key="DEVICE_7" value="COM6" />
		
	</appSettings>
</configuration>