<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>		
		<add key="DATABASEIP" value="0.0.0.0" />
		<add key="DATABASEPORT" value="59157" />
		<add key="DATABASEUSER" value="sa" />
		<add key="DATABASEPASSWORD" value="123456" />
		<add key="DEVICE_PLC" value="192.168.2.1" />
		<add key="DEVICE_COMJUFAN" value="COM1" />

		<add key="DEVICE_GAOYADIANYA" value="200" />
		<add key="DEVICE_GAOYADIANLIU" value="1" />
		<add key="DEVICE_DIYADIANYA" value="1" />
		<add key="DEVICE_DIYADIANLIU" value="1" />
		
	</appSettings>
</configuration>